# Virtual environments
venv/
env/
ENV/
.venv/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Jupyter Notebook
.ipynb_checkpoints

# Weights & Biases
wandb/

# Project specific
src/.DS_Store
